<div class="row mx-3">
  <div
    class="col-4 line-top line-thick product-section text-uppercase text-center"
    data-productId=""
  >
    <input id="productId" type="hidden" value="" />
    <h5 class="modal-title grey-text mt-5 mb-3" id="productTitle"></h5>
    <div class="price text-center"><sup></sup><span></span></div>
    <div class="my-5">
      <select id="sizeDropdown" name="size">
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
      </select>
      <select id="qtyDropdown" name="qty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <a
      href="javascript:void(0)"
      id="editProduct"
      class="btn btn-primary btn-lg "
      >Edit</a
    >
    <p class="text-lowercase mt-2">
      <a href="javascript:void(0)">view product</a>
    </p>
  </div>
  <div class="col-8 text-center">
    <img class="product-image" id="productImage" title="" src="" />
  </div>
</div>
