<div class="row mx-3">
  <div
    class="col-4 line-top line-thick view-product text-uppercase text-center"
  >
    <input id="productId" type="hidden" value="" />
    <h5 class="modal-title grey-text mt-5 mb-3" id="productTitle"></h5>
    <div class="price text-center"></div>
    <div class="my-5">
      <label for="viewSizeDropdown">
        <select id="viewSizeDropdown" name="size">
          <option>Select</option>
          <option>S</option>
          <option>M</option>
          <option>L</option>
        </select>
      </label>
      <label for="viewQtyDropdown">
        <select id="viewQtyDropdown" name="qty">
          <option>Select</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </label>
    </div>
    <a href="javascript:void(0)" id="addToBag" class="btn btn-primary btn-lg "
      >Add to bag</a
    >
    <p class="text-lowercase mt-2">
      <a href="javascript:void(0)">view edit</a>
    </p>
  </div>
  <div class="col-8 text-center">
    <img class="product-image" id="productImage" src="" />
  </div>
</div>
